/ManageStudent_verson2/nbproject/private/
/ManageStudent_verson2/build/
/ManageStudent_verson2/dist/
/ManageCandidate/nbproject/private/
/CSD201_HE186170_LAB3/nbproject/private/
/CSD201_HE186170_LAB3/build/
/FruitShopSystem/nbproject/private/
/FruitShopSystem/build/
/CSD201-HE186170-ASS1/nbproject/private/
/CSD201-HE186170-ASS1/build/
/ContactManagementProgram/nbproject/private/
/ContactManagementProgram/build/
/BonusLab/nbproject/private/
/BonusLab/build/
/BubbleSort/nbproject/private/
/BubbleSort/build/
/SelectionSortt/nbproject/private/
/LAB_QuickSort/nbproject/private/
/LAB_QuickSort/build/
/Lab_LinearSearch/nbproject/private/
/Lab_LinearSearch/build/
/Lab_DoctorManagement/nbproject/private/
/Lab_DoctorManagement/build/
